[submodule "openmeet-client"]
	path = openmeet-client
	url = https://github.com/pythonPlant12/openmeet-client.git
[submodule "openmeet-server"]
	path = openmeet-server
	url = https://github.com/pythonPlant12/openmeet-server.git
